.CTC_container {
  display: flex;
  background-color: #4D85E4;
  width: 100vw;
  height: 20vh;
  margin-top: 8vh;
  flex-direction: column;
}

.CTC_form {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.Logged_time_input {
  border-radius: 0.5vw;
  color: #282828;
  height: 5vh;
  margin-bottom: 2vh;
  width: 20vw;
}

.CTC_select_input {
  height: 6.6vh;
  margin-bottom: 1vh;
  width: 20.8vw;
}

.Register_button {
  margin-bottom: 2vh;
}

.CTC_track_a_new_text {
  color: #F3F4F3;
  margin-left: 6vw;
}