.MyCourses-container {
  align-items: center;
  background-color: #4D85E4;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.MyCourses-title-row {
  align-items: center;
  background-color: #3135A8;
  display: flex;
  height: 20vh;
  justify-content: space-between;
  margin-top: 10vh;
  width: 100vw;
}

.MyCourses-title {
  color: #F3F4F3;
  margin-left: 5vw;
}

.MyCourses-logout-button {
  background-image: url('../../assets/logout.svg');
  background-repeat: no-repeat;
  cursor: pointer;
  height: 10vh;
  margin-right: 2vw;
  width: 5vw;
}

.MyCourses-tracked-courses-list {
  align-items: center;
  background-color: #AECFEF;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.Modal {
  background-color: #F3F4F3;
  border-radius: 1vw;
  bottom: 15vh;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 1);
  left: 37vw;
  position: absolute;
  right: 37vw;
  top: 20vh;
}

.Overlay {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
