.All_courses_container {
  display: flex;
  background-color: #AECFEF;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.All_courses_list {
  width: 100vw;
  background-color: #AECFEF;
  display: flex;
  flex-direction: column;
  align-items: center;
}