.All_courses_container {
  align-items: center;
  background-color: #AECFEF;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.All_courses_list {
  align-items: center;
  background-color: #AECFEF;
  display: flex;
  flex-direction: column;
  width: 100vw;
}