.tooltip {
  border-bottom: 1px dotted black;
  display: flex;
  justify-content: center;
  position: relative;
}

.tooltip .tooltiptext {
  background-color: #3135A8;
  border-radius: 6px;
  bottom: 120%;
  color: #fff;
  left: 30%;
  margin-left: -60px;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  visibility: hidden;
  width: 220px;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  border-color: black transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
  content: "";
  left: 50%;
  margin-left: -5px;
  position: absolute;
  top: 100%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}